@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Investimento</h1>
    <h4 class="display-4">“Você pode atrasar, mas o tempo não. Lembre-se de que o tempo é dinheiro."</h4>
    <h1 class="display-1"><b>Benjamin Franklin</b></h1>
</div>
