@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Investimento</h1>
    <h4> “Você pode atrasar, mas o tempo não. Lembre-se de que o tempo é dinheiro."</h4>
    <p><b>Benjamin Franklin</b></p>
</div>
